{% extends 'Core/base.html' %}
{% load static %}

{% block title %}
    <title>Employees | VEUZ</title>
{% endblock title %}

{% block page-css %}

{% endblock page-css %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
    <!-- Users List Table -->

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}

    <div class="card card-action mb-4">
        <div class="card-header align-items-center">
          <h5 class="card-action-title mb-0">List of Employees Fields</h5>
          <div class="card-action-element">
            <button
              class="btn btn-primary btn-sm"
              type="button"
              data-bs-toggle="modal"
              data-bs-target="#addField">
              <i class="bx bx-plus bx-xs me-1"></i>ADD FIELD
            </button>
          </div>
        </div>

        <div class="card-body">
            <div class="table-responsive text-nowrap">
              <table class="table table-bordered">
                <thead class="text-center">
                  <tr>
                    <th class="text-primary fw-bold">FIELD NAME</th>
                    <th class="text-primary fw-bold">FIELD TYPE</th>
                  </tr>
                </thead>
                <tbody class="text-center" id="emp-table">
                    
                    <tr>
                      <td>First Name</td>
                      <td>Text Field</td>
                    </tr>

                    <tr>
                      <td>Last Name</td>
                      <td>Text Field</td>
                    </tr>

                    <tr>
                      <td>Email</td>
                      <td>Email Field</td>
                    </tr>

                    <tr>
                      <td>Mobile Number</td>
                      <td>Number Field</td>
                    </tr>

                </tbody>
              </table>
            </div>
        </div>

        {% if fields %}
          <h6 class="text-center">ADDITIONAL FIELDS</h6>

          <div class="card-body">
            <div class="table-responsive text-nowrap">
              <table class="table table-bordered">
                <thead class="text-center">
                  <tr>
                    <th class="text-primary fw-bold">FIELD NAME</th>
                    <th class="text-primary fw-bold">FIELD TYPE</th>
                    <!-- <th class="text-primary fw-bold">OPTIONS</th> -->
                    <th class="text-primary fw-bold">ACTIONS</th>
                  </tr>
                </thead>
                <tbody class="text-center" id="emp-table">
                    
                  {% for field in fields %}
                    <tr>
                      <td class="field-name">{{ field.Field_Name }}</td>
                      <td class="field-type" style="text-transform: capitalize;">{{ field.Field_Type }}</td>
                      <!-- <td>----------</td> -->
                      <td>
                        <i data-id="{{ field.id }}" class="bx bx-cog bx-sm me-2 text-warning edit-button" style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#editField" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="bottom" data-bs-html="true" title="Settings"></i>
                        {% if count == 0 %}
                          <i data-id="{{ field.id }}" class="bx bx-trash bx-sm text-danger delete-button" style="cursor: pointer;" data-bs-toggle="tooltip" data-bs-offset="0,4" data-bs-placement="bottom" data-bs-html="true" title="Delete"></i>
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        {% endif %}

    </div>
</div>

<!-- Add Field Modal -->
<div class="modal fade" id="addField" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-simple modal-edit-user">
      <div class="modal-content p-3 p-md-5">
        <div class="modal-body">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div class="text-center mb-4">
            <h3>Add New Field</h3>
            <p>These fields will be the fields while you creating employee</p>
          </div>
          <form id="editUserForm" class="row g-3" method="post" action="{% url 'add-dynamic-field' %}">
            {% csrf_token %}
            <div class="col-12 col-md-6">
              <label class="form-label" for="modalEditUserFirstName">Field Name</label>
              <input type="text" id="fieldname" name="name" class="form-control" placeholder="Enter field name here" required/>
            </div>

            <div class="col-12 col-md-6">
              <label class="form-label" for="modalEditUserFirstName">Field Type</label>
              <select name="type" id="select" class="form-control" required>
                <option value="">Select Field Type</option>
                <option value="text">Text Field</option>
                <option value="number">Number Field</option>
                <option value="date">Date Field</option>
                <!-- <option value="lgtext">Large Text Field</option> -->
                <!-- <option value="select">Selection Box</option>
                <option value="radio">Enum Type Data ( Radio Box )</option> -->
              </select>
            </div>
            
            <div class="col-12 text-center">
              <button type="submit" class="btn btn-primary me-sm-3 me-1">Submit</button>
              <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close"> Cancel </button>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>
<!--/ Add Field Modal -->

{% endblock content %}

{% block page-js %}
<!-- <script src="{% static 'assets/js/app-user-list.js' %}"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
<script src="{% static 'js/custom/settings.js' %}"></script>
{% endblock page-js %}